# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:

* The popular languages that Data Scientists uses
* Commonly used libraries used by Data Scientists
* Data Science tools
* Arithmetic expressions in python

Some of the popular languages that Data Scientists use are:

1. R
2. Python
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. SciPy

Data science table

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
Min=200
hours = Min/60
print(hours)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author 
Aishwarya R